* { outline: 1px solid rgba(255,0,0,0.2);}

$gris-claro:#eeecec;
$rojo-bajo:#ec5454;
$blanco:#fff;
$azulfb:#3b5998;
$azultwitter:#00aced;
$rojogp:#d34836;
$rojorepu:#de0000;
$message:#FFCF01;
$rss:#ff6600;
$negro:#000;
$style:none;
$inline:inline-block;







.img-top{
	width: 100%;
}
.list-style{
	list-style: $style;
}

