doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    title Home
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
    header
        .publicidad
            .container
                .row
                    .col-md-12
                        .img-top
                            img(src="../image/banner_top.jpg")
                .row
                    .col-md-6
                        ul
                            li LIBERO.PE
                            li EL POPULAR.PE
                            li FUNDACION GUSTAVO MOHME LLANA
                    .col-md-6.text-left
                        ul
                            li.pad-right-10.inline
                                a(href="#") SUSCRIBETE AL BOLETIN
                            li.pad-right-10.inline
                                a.deconon(href="#")
                                    i.text18.fb.ionicon-social-facebook
                            li.pad-right-10.inline
                                a.deconon(href="")
                                    i.text18.twitter.ion-social-twitter
                            li.pad-right-10.inline
                                a.deconon(href="")
                                    i.text18.googleplus.ion-social-googleplus
                            li.pad-right-10.inline
                                a.deconon(href="")
                                    i.text18.message.ion-ios-email
                            li.pad-right-10.inline
                                a.deconon(href="")
                                    i.text18.rss.ion-social-rss
                            li.pad-right-10.inline
                                a.deconon.negro.buscar(href="") BUSCAR
                                    i.text18.negro.ion-android-search
    content
        .encabezado
            .container
                .row
                    .col-md-5
                        img(src="../image/logo-la-republica.jpg")
                    .col-md-3
                        .texto-arriba
                            p ESPECIAL DEL FUTBOL
                            p TODO SOBRE LA CHAMPIONS LEAGUE
                    .col-md-4
                        .texto-abajo
                            img(src="../image/img_editorial_text.jpg")
                            p La corrupcion, los origenes
                            p por: Gustavo Mohme Llana
                            img(src="../image/img_author.jpg")
        .menu
            .container
                .row
                    .col-md-12
                        nav
                            ul
                                li
                                    a(href="#") POLÍTICA
                                li
                                    a(href="#") ECONOMIA
                                li
                                    a(href="#") SOCIEDAD
                                li
                                    a(href="#") ELEC. REGIONALES
                                li
                                    a(href="#") DEPORTES
                                li
                                    a(href="#") CHAMPIONS L.
                                li
                                    a(href="#") ESPECTACULOS
                                li
                                    a(href="#") ED. IMPRESA
                                li
                                    a(href="#") REGIONALES
                                li
                                    a(href="#") MAS SECCIONES           
        .principal
            .container
                .row
                    .col-md-2
                        .publicidad.izquierda
                            img(src="../image/banner_aside.jpg")
                    .col-md-8
                        .container
                            .row
                                .tematica
                                    .tema TEMAS DEL DIA
                                    ul
                                        li
                                            a(href="#")
                                                i.ion-ios-arrow-back
                                        li
                                            a(href="#") Globos de Oro
                                        li
                                            a(href="#") Youtube
                                        li
                                            a(href="#") PNP
                                        li
                                            a(href="#") Charlie Hebbo
                                        li
                                            a(href="#") FC Barcelona
                                        li
                                            a(href="#") Alianza Lima
                                        li
                                            a(href="#") Balon de Oro
                                        li
                                            a(href="#") Alianza Lima
                                        li
                                            a(href="#") Municipio
                                        li
                                            a(href="#")
                                                ii.ion-ios-arrow-forward
                                .maestrias
                                    img(src="../image/banner-header.jpg")
                                .titular GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                                .iconos-titular
                                    ul
                                        li
                                            .iconos
                                                a.fb.inline.ion-social-facebook(href="#")
                                            .iconos
                                                a.twitter.inline.ion-social-twitter(href="#")
                                            .iconos
                                                a.googleplus.inline.ion-social-googleplus(href="#")
                                        li
                                            .point.inline.posicion &#8226;
                                            .text12.inline Hace 12 minutos
                                            .point.inline.posicion &#8226;
                                            .text12.inline POLÍTICA
                                .informacion
                                    .col-md-6
                                        img.img-responsive(src="../image/img_grid_principal.jpg")
                                        .text1 JNE impulsará campaña en favor de la aprobación de la Reforma Electoral
                                    .col-md-6
                                        ul
                                            li
                                                img.img-responsive(src="../image/img_grid_secundario.jpg")
                                                .text2 Martin Belaunde Lossio: Emrpesas vinculadas al empresario contratron por S/. 3000 millones &#124; FOTOS
                                            li
                                                img.img-responsive(src="../image/img_grid_secundario.jpg")
                                                .text2 Sub 20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final del Sudamericano &#124; VIDEO
                   .col-md-2
                        .publicidad.derecha
                            img(src="../image/banner_aside.jpg")
        .contenido
            .container
                .row
                    .col-md-2
                    .col-md-8
                        .columnistas
                            hr
                            p COLUMNISTAS
                            .slider-columnistas
                            mixin columnistas(imagen, nombre, texto)

                                .columnista1
                                    img( src=imagen)
                                    p= nombre
                                    p= texto
                                
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
                            +columnistas("../image/img-columnistas.jpg", "Mario Vargas Llosa", "Megarrenuncia apulpinante")
                            +columnistas("../image/img_blogueros.jpg", "Augusto Álvarez Rodrich", "Respuesta a una derrota estridente")
           
                        .primicias
                            .col-md-4
                                ul
                                    li
                                        .primicia1
                                            .primicia-title
                                                p Mercado Pases 2015
                                            img(src="../image/img_especiales.jpg")
                                            .primicia-texto
                                                p Mercado de Pases 2015: altas, bajas y rumores de los equipos peruanos.
                                            .primicia-footer
                                                p Todo sobre
                                                    b Mercado de pases 2015
                                    li
                                        .primicia2
                                            .primicia-title
                                                p Champions League
                                            img(src="../image/img_especiales_aside.jpg")
                                            .primicia-texto
                                                p ¿Podrá el Real Madrid conseguir la Undécima?
                                            .primicia-footer
                                                p Todo sobre
                                                    b Champions League
                            .col-md-4
                                ul
                                    li
                                        .primicia1
                                            .primicia-title
                                                p Régimen Laboral Juvenil
                                            img(src="../image/img_especiales_aside.jpg")
                                            .primicia-texto
                                                p Ollanta Humala: los que han perdido son 2 millones de jóvenes
                                            .primicia-footer
                                                p Todo sobre
                                                    b Régimen Laboral Juvenil
                                    li
                                        .primicia2
                                            .primicia-title
                                                p Super Bowl
                                            img(src="../image/img_especiales.jpg")
                                            .primicia-texto
                                                p Super Bowl XLIX: New England Patriots se consagró campeón
                                            .primicia-footer
                                                p Todo sobre
                                                    b Super Bowl
                            .col-md-4
                                .banner-lateral
                                    img.img-responsive(src="../image/banner-aside-home.jpg")
                        .ultimas-noticias
                            .col.md-8
                                h3 ULTIMAS NOTICIAS
                                    | 
                                    img(src="../image/double-arrow-bottom.png")
                            .col-md-4

                    .col-md-2
